<!DOCTYPE html>
<html>

<!-- Include Scripts -->
<%- include('partials/admin/head'); -%>

<body>

    <div class="wrapper">
        <!-- Include Sidebar Navigation -->
        <%- include('partials/admin/sidebar_nav'); -%>

        <!-- Page Content  -->
        <div id="content">

            <!-- Include Header Navigation -->
            <%- include ('partials/admin/header_nav') -%>

            <%- include(`pages/${page_file}.ejs`) %>
        </div>
    </div>
    
    <!-- Include Scripts -->
    <%- include ('partials/admin/scripts') -%>
</body>

</html>
